@using QRTech.Models
@model Tuple<Driver, Vehicle>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.islem == 1)
{
    <div class="alert alert-success" role="alert">
        Şoför Ekleme İşlemi Başarıyla Gerçekleşti!
    </div>
}
else if (ViewBag.islem == -1)
{
    <div class="alert alert-danger" role="alert">
        Şoför Ekleme İşlemi Başarısız!
    </div>
}
else
{

}
<div class="wrapper">

    <div id="content">
        <h2>  Şöför Ekle</h2>
        <br />
        <div class="container-fluid">
            @using (Html.BeginForm("DriverCreate", "Driver", FormMethod.Post))
            {
                <form action="" class="was-validated">

                    <div class="form-group">
                        <label for="uname">Söför Adı:</label>
                        @Html.TextBoxFor(m => m.Item1.AD, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="uname">Soyadı:</label>
                        @Html.TextBoxFor(m => m.Item1.Soyad, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="e-posta">TC:</label>
                        @Html.TextBoxFor(m => m.Item1.TC, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="e-posta">Ehliyet Seri No:</label>
                        @Html.TextBoxFor(m => m.Item1.ehliyetSeriNo, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="drop_list">Maaş:</label>
                        @Html.TextBoxFor(m => m.Item1.Maas, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="drop_list">Kullandığı Araç Plaka:</label>
                        @Html.TextBoxFor(m => m.Item2.Plaka, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="drop_list">Telefon:</label>
                        @Html.TextBoxFor(m => m.Item1.Telefon, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="drop_list">Mail:</label>
                        @Html.TextBoxFor(m => m.Item1.Mail, null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="drop_list">Adres:</label>
                        @Html.TextBoxFor(m => m.Item1.Adres, null, new { @class = "form-control" })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">Ekle</button>
                </form>
            }
        </div>
    </div>
</div>
